Repository ethereum/EIPs, pull requests merged in 2018-03, with the labels that each got.

#841 EIP-721 Non-Fungible Token Standard
  EIPS/eip-721.md
Labels: ERC

#778 EIP-778: Ethereum Node Records
  EIPS/eip-778.md
Labels: EIP, needs-merge

#198 Create bigint_modexp.md
  EIPS/eip-198.md
Labels: EIP, follow-up-with-author, needs-merge

#208 Abstraction of transaction origin and signature.md
  EIPS/eip-86.md
Labels: EIP, follow-up-with-author, needs-merge

#910 ERC900: Simple Staking Interface
  EIPS/eip-900.md
Labels: ERC

#884 draft EIP for a DGCL compliant Token standard.
  EIPS/eip-884.md
Labels: ERC
